
body {
    background-image:url("http://2.bp.blogspot.com/-_cPMvklYlB4/Ubfed5qfmOI/AAAAAAAAAbM/2cxdQzp42XM/s1600/blahhh.jpg");
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}

